html {
    overflow-y: scroll;
}

#item-results input, #pending-order input { 
    width: 60px;
}
#item-results form { 
    display: inline;
}

#message textarea {
    width: 100%;
}

.right {
    float: right;
}

#datepicker {
    display: inline-block;
}

#datepicker .add-on {
    vertical-align: top;
    height: 20px;
}

#generate {
    vertical-align: top;
}
