{% extends "inventory/base.html" %}

{% block title %}New Order{% endblock %}

{% block custom_js %}
    <script src="/static/script/js/order.js"></script>
    {% block admin_js %}{% endblock %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            {% block pre-content %}{% endblock %}
            <div class="span5">
                {% block admin_html %}{% endblock %}
                <h3>Add items to order</h3>
                <input id="item-search" autocomplete="off" class="input-large" type="text" name="query" placeholder="Type to search">
                <div id="item-results"></div>
            </div>
            <div class="span6 offset1">
                <div id="order-info">
                    <h1>Order</h1>
                    <table class="table table-condensed">
                        <tr>
                            <td>Employee</td>
                            <td><input id="employee-name" type="text"></td>
                        </tr>
                        <tr>
                            <td>Job</td>
                            <td><input id="job-name" type="text"></td>
                        </tr>
                    </table>
                </div>
                <h3>Items</h3>
                <div id="pending-order"></div>
                <div id="message-area">
                    <h3>Message</h3>
                    <div id="message"></div>
                </div>
                <button id="submit-order" class="btn btn-large btn-primary right">{% block submit-text %}Submit Order{% endblock %}</button>
            </div>
        </div>
    </div>
{% endblock %}
