<!DOCTYPE html>
{% load dajaxice_templatetags %}
<html>
    <head>
        <link href="/static/style/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="/static/style/main.css" rel="stylesheet" media="screen">
        
        <title>New Order</title>

        <script src="/static/script/js/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}dajax/jquery.dajax.core.js"></script>
        <script src="/static/script/js/bootstrap.min.js"></script>
        <script src="/static/script/js/order.js"></script>
        {% if request.user.is_active and request.user.is_staff %}
        <script src="/static/script/js/order-admin.js"></script>
        {% endif %}
        {% dajaxice_js_import %}
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="span5">
                    {% if request.user.is_active and request.user.is_staff %}
                    <div id="admin">
                        <h3>Select employee</h3>
                        <input id="employee-search" autocomplete="off" class="input-large" type="text" name="query" placeholder="Type to search">
                        <div id="employee-results"></div>
                        <h3>Select job</h3>
                        <input id="job-search" autocomplete="off" class="input-large" type="text" name="query" placeholder="Type to search">
                        <div id="job-results"></div>
                    </div>
                    {% endif %}
                    <h3>Add items to order</h3>
                    <input id="item-search" autocomplete="off" class="input-large" type="text" name="query" placeholder="Type to search">
                    <div id="item-results"></div>
                </div>
                <div class="span6 offset1">
                    <h1>Order</h1>
                    <table class="table table-condensed">
                        <tr>
                            <td>Employee</td>
                            <td><input id="employee-name" type="text"></td>
                        </tr>
                        <tr>
                            <td>Job</td>
                            <td><input id="job-name" type="text"></td>
                        </tr>
                    </table>
                    <h3>Items</h3>
                    <div id="pending-order"></div>
                    <h3>Message</h3>
                    <div id="message"></div>
                    <button id="submit-order" class="btn btn-large btn-primary right">Submit Order</button>
                </div>
            </div>
        </div>
    </body>
</html>
